<ion-view title="{{indicator.name}}">
  <ion-content>

    <h2>{{indicator.name}}</h2>

    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <a href="javascript:;" class="ion-home1">Ziele</a>
            <a href="javascript:;" class="ion-game-controller-b1">Impulsfragen</a>
            <a href="javascript:;" class="ion-email1">Bewertungstabelle</a>
            <a href="javascript:;" class="ion-model-s1">Definitionen</a>
            <a href="javascript:;" class="ion-person1">Umsetzungshilfen</a>
            <a href="javascript:;" class="ion-heart1">Mehr Info</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <h3>Ziele</h3>
        </ion-slide>
        <ion-slide>
          <h3>Impulsfragen</h3>

          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>

            <p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolor dolorum libero nostrum optio
              reiciendis sequi temporibus tenetur vel vitae voluptate, voluptatem? Aut commodi dolor eveniet obcaecati
              praesentium, quis sequi.</p>
          </div>
        </ion-slide>
        <ion-slide>
          <h3>Bewertungstabelle</h3>
        </ion-slide>
        <ion-slide>
          <h3>Definitionen</h3>
        </ion-slide>
        <ion-slide>
          <h3>Umsetzungshilfen</h3>
        </ion-slide>
        <ion-slide>
          <h3>Mehr Info</h3>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>

  </ion-content>
</ion-view>
