<ion-view title="Matrix">

  <ion-nav-bar class="ecg-bar bar-light">
    <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-ecg-bar">

    <ion-list>
      <ion-item ng-repeat="indicator in indicators"
                class="item-icon-right"
                type="item-text-wrap" href="#/matrix/{{indicator.id}}">
        {{indicator.name}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
